---
layout: default
title: Home
---
<h1>Index of Some Personal Projects - by <a href="https://github.com/trabdlkarim" target="_blank">@trabdlkarim</a></h1>
<br/>
<div class="posts">
  <ul>
  {% for post in paginator.posts %}
   <li>
    <div class="post">
      <h1 class="post-title">
        <a href="{{ site.url }}{{ post.url }}">
         {{ post.title }}
        </a>
      </h1>
      <span class="post-date">{{ post.date | date_to_string }}</span>
     {{ post.content }} 
     <p>Find out more by <a href="{{ site.url }}{{ post.url }}">visiting the project page.</a></p>
    </div>
  </li>  
  {% endfor %}
   </ul>
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Previous</a>
  {% else %}
    <span class="pagination-item older">Previous</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Next</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Next</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Next</span>
  {% endif %}
</div>

