---
layout: page
title: Browse projects
nav_exclude: true
---

<h1 class="fs-7" id="browse-all-projects">Browse all projects </h1>
<p class="fs-6 fw-300">Find, download and share interesting software development projects that are excellent for honing your programming and development skills</p>

<hr/>

<div class="projects">
  <ul class="unstyled-list">
      {% for post in paginator.posts %}
        <li>
          <a class="project-snippet" href="{{ site.url }}{{ post.url }}">
            <h3 class="project-title">{{ post.title }} <label class="label label-purple">{{ post.language }}</label></h3>
            <p class="project-desc"> {{ post.excerpt }} </p>
            {% if post.tags.size > 0 %}
             <p>{% for tag in post.tags %} <label class="label label-green">{{ tag }}</label> {% endfor %}</p>
            {% endif %}
          </a> 
        </li>
      {% endfor %}
  </ul>
</div>
<hr/>
<!-- Pagination links -->
<div class="pagination float-right mb-6">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

