// Custom SCSS

$black: #1d1f20;
$blue: #83e4e2;
$green: #a2ed56;
$yellow: #fddc32;
$white: #fafafa;

%boxshadow {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
}

div.projects {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
}

ul.unstyled-list,
ol.unstyled-list {
  list-style: none !important;
  margin: 1.75rem 0;
  padding-left: 1rem;
  > li {
    // background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    @extend %boxshadow;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 3rem;
    direction: ltr;
    text-align: left;
    
    &::before {
      content: ""; 
    }
    &,
    &:hover{
      cursor: pointer;
      //background-color: #f5f6fa;
      // Use png fallback
      background: #fff url("../../assets/images/white-cube.png") no-repeat 0 50%;
      // Or svg if the browser supports it
      background-image: url("../../assets/images/white-cube.svg"), linear-gradient(transparent, transparent);
      background-position: 20px;
    }
    + li {
      margin-top: 2rem;
    }
    a.project-snippet{
      text-align: left;
      display: block;
      padding: 0.25rem 0.25rem 0.25rem 2rem;
      
      .project-desc{
        clear: both;
        color: #464646;
      }
      
      .project-title{
         color: $link-color;
      }
    }
  }
}
