<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">  
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/"><i class="fas fa-home"></i> HOME</a>
    <a class="sidebar-nav-item" target='_blank' href="https://www.trabdlkarim.com/"><i class="fas fa-globe"></i> BLOG</a>
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    <a class="sidebar-nav-item" href="https://me.trabdlkarim.com/" target='_blank'><i class="fas fa-graduation-cap"></i>  ABOUT</a>
    <a class="sidebar-nav-item" href="https://github.com/trabdlkarim" target='_blank'><i class="fa fa-github"></i>  GITHUB</a>
    <span class="sidebar-nav-item">{{ site.author.email }}</span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }} - All Rights Reserved.
    </p>
  </div>
</div>
